:root {
  /* Colors */
  --hm-gray-100: #f1f1f1;
  --hm-gray-200: #e0e0e0;
  --hm-gray-300: #cfcfcf;

  --hm-accent-500: #857c96;
  --hm-accent-700: #4d4861;

  --hm-text: #1f1f1f;
  --hm-muted: #6b6b6b;
  --hm-border: #d6d6d6;

  /* Layout */
  --container: 1100px;
  --radius: 12px;

  /* Typography */
  --hm-font-body: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --hm-font-heading: var(--hm-font-body);
}
