.aboutUs {
    max-width: 375px;
    min-height: 300px;
    margin: 40px auto;
    position: relative;
    opacity: 0.95;
}

.aboutUs h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.aboutUs p {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.6;
    color: #0e0e0e;
    background-color: #e5e5e5;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.8;
}

.aboutText {
    padding: 20px;
}

/* UseState styles */
.openAbout {
    display: block;
}

.closedAbout {
    display: none;
}

.openJoin {
    display: block;
}

.closedJoin {
    display: none;
}

.openHistory {
    display: block;
}

.closedHistory {
    display: none;
}

.aboutImages {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.60;
    z-index: -1;
}

@media screen and (min-width:520px) {
    .aboutUs {
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
        border-radius: 8px;
        margin: 0px;
        min-height: 0%;
        max-height: 70vw;
        max-width: 100%;
        width: 100%;
        background-color: #e5e5e5;
    }

    .aboutText {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .aboutUs h1 {
        font-size: 3vw;

    }

    .aboutUs p {
        font-size: 3vw;
    }

    .aboutImages {
        opacity: 1;
        z-index: 0;
        position: relative;
        width: 50%;
        height: 100%;
    }

    .aboutUs:nth-of-type(even) {
        flex-direction: row-reverse;
    }
  
}